@model DistriLab2.Models.DB.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameStudent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastNameStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastNameStudent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeDocument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumDocument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusStudent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenderStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenderStudent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodStudent">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
